/* Reset css*/
@import url('https://fonts.googleapis.com/css?family=Varela');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* End of reset*/

body {
	font-family: Verdana;
	div{
		//border: red 1px solid;
	}
}
.main-container {
	position: relative;
	//background: #f5f5f5;
	.background-grey {
	  z-index: -1;
	  position: absolute;
	  top: 0;
	  right: -9999px;
	  bottom: 40px;
	  left: -9999px;
	  background: #f5f5f5;
	  border-bottom: 1px solid #e6e6e6;
	}
}
.board-body{
  width: 960px;
  margin: 0 auto;
  padding: 15px;
}
.page-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
	.page-header-left {
	   padding-right: 30px;
		.title {
		  display: flex;
			h1 {
			  margin-right: 6px;
			}
			.claim-status {
				display: flex;
				align-self: flex-end;
				padding-bottom: 5px;
				span {
					margin-right: 6px;
				}
			}
		}
		.rating-info {
		  display: flex;
		  margin-top: 9px;
		  margin-bottom: 9px;
		  color: #666;
			.rating-stars {
			  margin: -4px 6px 0 0;
			}
		}
		.price-range{
			&:after {
				content: "•";
				position: relative;
				top: -1px;
				margin: 0 3px;
				color: #999;
				font-size: 10px;
				line-height: 18px;
			}
		}
		.price-category {
			display: flex;
		  ul{
			 display: flex;
			li {
			  list-style: none;
			}
		  }

		}
	}
	.page-header-right {
		height: 37px;
		display: flex;
		margin-top: 2%;
		button {
			color: #fff;
			background: #d32323;
			border: 1px solid #d32323;
			font-size: 14px;
			line-height: 1.28571em;
			padding: 8px 19px 9px;
			border-radius: 3px;
			margin: 0 12px 0 0;
			display: inherit;
			font-weight: bold;
			cursor: pointer;
			span {
				margin-right: 6px;
			}
		}
		.small-buttons {
			align-self: flex-end;
			ul{
				display: flex;
				li {
					cursor: pointer;
					border-radius: 3px 0 0 3px;
					list-style: none;
					padding: 5px 8px;
					font-size: 12px;
					line-height: 1.5em;
					border: 1px solid #ccc;
					color: #666;
					background: #fff;
					display: inherit;
					&:hover {
					  background-color: #f5f5f5;
					}
					&:nth-child(2) {
						border-radius: initial;
						border-right: none;
						border-left: none;
					}
					&:last-child{
						border-radius: 0 3px 3px 0;
					}
					span {
						margin-right: 5px;
					}
				}
			}
		}
	}
	.popup {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-color: rgba(0,0,0, 0.5);
	}
	.popup_inner {
		position: absolute;
		left: 25%;
		right: 25%;
		top: 25%;
		bottom: 25%;
		margin: auto;
		background: white;
	}
}

//Subheader style
.page-subheader {
	display: flex;
  .mapbox-details {
	  width: 33.33333%;
	  padding: 5px;
	  background: #fff;
	  border: 1px solid #ccc;
	  .mapbox {
		  overflow: hidden;
		  height: 135px;
		  border: 1px solid #ccc;
		  img {
			  width: 100%;
		  }
	  }
	  .details {
		  margin: 5px;
		  .plain {
			color: initial;
		  }
		  span {
			  margin-right: 5px;
		  }
		  address{
			  display: flex;
			font-style: normal;
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 3px;
		  }
		li {
			display: flex;
			color: #0073bb;
			font-size: 12px;
			list-style: none;
			margin-bottom: 3px;
		}
	  }
  }
}
.star-icon {
	width: 50px;
	height: 50px;
}